.map-container {
  margin-left: 43px;
  margin-right: 43px;
}

.search-bar {
  padding-bottom: 0;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 43px;
}

.buttonDelete.mat-raised-button {
 margin-right: 43px;
 margin-bottom: 25px;
}
