<span class="buttons">
  <div class ="search-box">
    <mat-form-field class="search-bar">
        <mat-label>Search for a city</mat-label>
        <input matInput type="text" #searchBar>
        <button mat-button
          *ngIf="searchBar.value"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="searchBar.value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button class="search-icon" mat-icon-button color="primary" (click)="locationSearch()" >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Map Theme</mat-label>
    <mat-select id="map-theme" (selectionChange)="setMapStyle($event.value)">
      <mat-option *ngFor="let map of mapTypes" [value]="map">
        {{map}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="mat-select">Marker Types</mat-label>
    <mat-select id="type-select" (selectionChange)="changeType($event.value)">
      <mat-option *ngFor="let option of optionsTypes" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="button-delete" mat-raised-button (click)="deleteAllCustomMark()">Clear</button>
</span>

<div class="map-container">
    <google-map class="map"
                [center]="location"
                height="750px"
                width="100%"
                [options]="options"
                [zoom] = "zoom"
                (mapClick)="addMarker($event)">
      <map-marker #customMarker
                  class="custom-marker"
                  *ngFor="let marker of markers"
                  [options]="marker"
                  (mapClick)="clickMarker(customMarker)"
                  (mapRightclick)="removeMarker(customMarker)"
      ></map-marker>
      <map-marker *ngFor= "let marker of searchMarkers"
                  class="search-marker"
                  #searchMarker
                  [options]="marker"
                  (mapClick)="openInfoWindow(searchMarker)">
      </map-marker>
      <map-info-window #infoWindow><strong>{{ activeMark }}</strong></map-info-window>
      <map-info-window #customWindow><strong>Custom Marker</strong></map-info-window>
    </google-map>
</div>
