h1 {
    align-items: center;
    text-align: center;
}

img {
    height: 400px;
}

@media only screen and (max-width: 300px) {
    img {
        height: 100px;
    }

    mat-panel-title {
        height: fit-content;
        font-size: 3px !important;
    }

    mat-panel-description {
        height: fit-content;
        font-size: 3px !important;
    }
}