h1 {
    align-items: center;
    text-align: center;
}

img {
    height: 400px;
}

@media only screen and (max-width: 600px) {
    mat-panel-title ::ng-deep {
        font-size: 12px;
        height: fit-content;
        margin: 0;
    }

    mat-panel-description ::ng-deep {
        height: fit-content;
        font-size: 12px;
        margin: 0;
    }
    
    mat-expansion-panel p {
        font-size: 12px;
    }
}