@media only screen and (min-width: 200px) {
    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 800px) {
    img {
        width: 100%;
        height: 100%;
    }
}