.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

mat-card {
  margin: 20px 10px;
}

.limit mat-form-field {
  width: 150px !important;
}

@media only screen and (max-width: 450px) { 
  .flex-container {
    align-content: space-between;
  }

  .limit {
    margin-top: 20px;
  }

  mat-card {
    margin: 0px;
  }

  .photos {
    margin-left: -17px;
    margin-right: -14px;
  }
}

@media only screen and (max-width: 350px) { 
  .flex-container {
    flex-direction: column;
  }
}
