.flex-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

mat-card {
  margin: 20px 10px;
}

.mat-raised-button {
}

.limit {
}

.limit mat-form-field {

  width: 150px !important;
}

.photos {
}
