.flex-container {
  margin-left: 43px;
  margin-right: 43px;
  text-align: left;
}

.mat-raised-button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.count {
  margin-bottom: 20px;
  text-align: left;
}
