#G {
  color: #4285F4;
}

#M {
  color: #EA4335;
}

#a {
  color: #FBBC05;
}

#p {
  color: #4285F4;
}

#r {
  color: #34A853;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 590;
  font-size: 60px;
  text-align: center;
}
