<head><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"></head>
<h1 class="title">
  <span id="G">G</span>
  <span id="M">M</span>
  <span id="a">a</span>
  <span id="p">p</span>
  <span id="r">r</span>
</h1>
<app-map
  (activeMarkerOutput)="updateActiveMarker($event)"
  (markerDataOutput)="updateMarkerData($event)"
  (cityOutput)="cityUpdate($event)">
</app-map>
<app-photos-section [city]="city"></app-photos-section>
<app-wiki-media-history-section [cityName]="city"></app-wiki-media-history-section>
