#G {
  color: #4285F4;
}

#M {
  color: #EA4335;
}

#a {
  color: #FBBC05;
}

#p {
  color: #4285F4;
}

#r {
  color: #34A853;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vh;
  text-align: center;
  -webkit-text-stroke: 0.5px white;
}

mat-toolbar {
  display: flex;
  font-size: 25px;
  height: 7vh;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  height: 93vh;
}

.map {
  margin: 0px;
  width: 60vw;
}

.instructions {
  font-weight: 200;
}

.photos {
  margin: 20px;
  overflow: scroll;
  width: 40vw;
}


@media only screen and (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
    height: auto;
  }

  .map {
    width: 100vw;
  }

  .photos {
    margin: 0px;
    width: 100vw;
  }

}

@media only screen and (max-width: 400px) {
  .instructions {
    display: none;
  }
}