<div *ngIf="!loading" class="history">
  <div class="body">
    <mat-card class="history-body">
      <mat-card-title class="history-title">
        {{title}}
      </mat-card-title>
      <div class="text">
      {{body}}
      </div>
    </mat-card>
  </div>
  <mat-card class="more-reading">
    <div class="language">
    <ng-template matMenuContent></ng-template>
      <span [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
        Languages
      </span>
      <mat-menu #languageMenu="matMenu">
        <ng-container *ngFor="let lang of languages | keyvalue">
          <a *ngIf="langlinks.has(lang.key)" mat-menu-item (click)="onChangeLanguage(lang.key)">{{lang.value["FullLangName"]}}</a>
        </ng-container>
      </mat-menu>
    </div>
    <div class="further">
    <ng-template matMenuContent></ng-template>
      <span [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
        Further Reading
      </span>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let url of urls | keyvalue">
          <a mat-menu-item href="{{url.key}}" target="_blank">{{url.value}}</a>
        </ng-container>
      </mat-menu>
    </div>
  </mat-card>
</div>
