
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<div *ngIf="!loading" class="history">
  <div class="body">
    <mat-card class="history-body">
      <mat-card-title class="history-title">
        {{title}}
      </mat-card-title>
      {{body}}
    </mat-card>
  </div>
  <mat-card class="more-reading">
    <p *ngFor="let url of urls | keyvalue">
      <a href="{{url.key}}" target="_blank">{{url.value}}</a>
    </p>
  </mat-card>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
    <span>Languages</span>
  </button>
  <mat-menu #menu="matMenu" class="languages">
    <button *ngFor="let lang of languages | keyvalue" mat-menu-item (click)="onChangeLanguage(lang.key)">
      {{lang.key}}
    </button>
  </mat-menu>
</div>
<div *ngIf="loading" class="history">
  {{error}}
</div>
