<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<div *ngIf="!loading" class="history">
  <div class="body">
    <mat-card class="history-body">
      <mat-card-title class="history-title">
        {{title}}
      </mat-card-title>
      <div class="text">
      {{body}}
      </div>
    </mat-card>
  </div>
  <mat-card class="more-reading">
    <ng-template matMenuContent></ng-template>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
        Further Reading
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let url of urls | keyvalue">
          <a mat-menu-item href="{{url.key}}" target="_blank">{{url.value}}</a>
        </ng-container>
      </mat-menu>
  </mat-card>
</div>
<div *ngIf="loading" class="history">
  {{error}}
</div>
