
.history-title.mat-card-title {
  color: black;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 590;
  justify-content: center;
  line-height: 45px;
  padding-bottom: 30px;
  text-align: center;
}

.history-body.mat-card {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  height: auto;
  line-height: 30px;
  padding: 100px;
  text-align: left;
  width: 50%;
}

.body {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

.more-reading-card.mat-card {
  align-self: center;
  background-color: white;
}

.more-reading {
  align-items: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  justify-content: center;
  margin: 20px 10px;
}

p {
  align-items: center;
  margin-bottom: 0;
  margin-right: 8px;
  margin-top: 0;
}

a {
  color: #425866;
  font-style: italic;
}
