
.history-title {
  color: black;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 400;
  justify-content: center;
  line-height: 45px;
  padding-bottom: 30px;
  text-align: center;
}

.history-body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: auto;
  line-height: 35px;
  padding: 35px;
  text-align: left;
  font-weight: 250;
  white-space: pre-line;
}

.body {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

.text {
}

a {
  color: inherit;
  text-decoration: none;
}

.more-reading-card {
  align-self: center;
  background-color: white;
}

.more-reading {
  align-items: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  justify-content: center;
  margin: 20px 10px;
}

p {
  align-items: center;
  margin-bottom: 0;
  margin-right: 8px;
  margin-top: 0;
}
