.history-title {
  color: black;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 400;
  justify-content: center;
  line-height: 45px;
  padding-bottom: 30px;
  text-align: center;
}

.history-body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 250;
  height: auto;
  line-height: 35px;
  padding: 35px;
  text-align: left;
  white-space: pre-line;
}

.body {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

.more-reading-card {
  align-self: center;
}

.more-reading {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  justify-content: space-between;
  margin: 20px 10px;
}

p {
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

span {
  font-family: 'Roboto';
  font-size: 13px;
  margin-left: -10px;
  margin-top: 10px;
}

span:hover {
  color:#1A73E9;
  cursor: pointer;
}

mat-icon {
  margin-right: 10px;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 475px) {
  .history-body {
    line-height: 25px;
  }

  .body {
    margin: 0px -20px;
  }
}

@media only screen and (max-width: 330px) {
  .history {
    margin-left: 50px;
    margin-right: 50px;
  }
}
